header {
    background-color: lightpink;
}

.highlight {
    color: black;
}

.link-body-emphasis {
    color: white;
}

.link-body-emphasis:hover {
    color: green;
}

.nav-pills .nav-link {
    background-color: #ff7d90;
    color: black;
}

.nav-pills .nav-link:hover {
    background-color: #f0f0f0;
    color: black;
}

.nav-pills .nav-link.active {
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.center {
    text-align: center;
}

.nav-item:not(:last-child) {
    margin-right: 10px;
}

footer {
    background-color: lightpink;
}

#story {
    width: 300px;
    height: 150px;
}

#name {
    width: 300px;
}

.btn-custom {
    background-color: #ff8292;
    color: black;
    border: 1px solid black;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-custom:hover {
    background-color: #f0f0f0;
}